//- -----------------------------------------------------------------|
//- SITE CONFIG
//- -----------------------------------------------------------------|
//- Contains all variables for our overall site.

-
	// BASICS
	//- ---------------------------------|
	var siteName = 'Site'
	var siteUrl = 'http://www.test.com'
	var siteTheme = '#000000'
	var siteAnalytics = ''
	var siteVerfication = ''

	// OPTIONS
	//- ---------------------------------|
	var siteLang = 'en'
	var siteLocale = 'CA'
	var siteResponsive = true
	var siteMeta = true
	var devTools = true

	// SOCIAL
	//- ---------------------------------|
	var siteImage = siteUrl + '/images/share/default.jpg'
	var siteFacebookID = ''
	var siteFacebook = ''
	var siteTwitter = ''
	var siteGoogleplus = ''

	// SITE META
	//- ---------------------------------|
	var siteSubject = 'Short_description_of_site_subject'
	var siteDesc = 'Short_description_of_site'
	var siteRating = 'General'
