//- -----------------------------------------------------------------|
//- SITE CONFIG
//- -----------------------------------------------------------------|
//- Contains all variables for our overall site.

-
	// BASICS
	//- ---------------------------------|
	var siteName = 'Site'
	var siteUrl = 'http://www.test.com'
	var siteAnalytics = ''
	var siteTheme = '#000000'

	// OPTIONS
	//- ---------------------------------|
	var siteLang = 'en'
	var siteLocale = 'CA'
	var siteResponsive = true
	var siteMeta = false
	var siteMeta_Adv = false
	var devTools = true

	// SOCIAL
	//- ---------------------------------|
	var siteImage = siteUrl + '/images/share/default.jpg'
	var siteFacebook = 'facebookName'
	var siteTwitter = 'twitterName'
	var siteGoogleplus = 'googleplusName'

	// SITE META (ADVANCED)
	//- ---------------------------------|
	var siteVerfication = ''
	var siteSubject = 'Short_description_of_site_subject'
	var siteRating = 'General'
