//- -----------------------------------------------------------------|
//- SITE CONFIG
//- -----------------------------------------------------------------|
//- Contains all variables for our overall site.

-
	// BASICS
	var siteName = 'Site'
	var siteUrl = 'http://www.test.com'
	var siteAnalytics = 'uaid'
	var siteTheme = '#000000'

	// OPTIONS
	var siteLang = 'en'
	var siteResponsive = true
	var siteMeta = false
	var devTools = true

	// SOCIAL
	var siteTwitter = 'twitter'
	var siteFacebook = 'facebook'
