{
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"rules": {
		"quotes": [
			2,
			"single"
		]
	},
	"parserOptions": {
		"ecmaFeatures": {
			"modules": true,
			"jsx": true
		},
		"sourceType": "module"
	},
	"plugins": [
		"react"
	]
}
