//- -----------------------------------------------------------------|
//- COMPONENT: FOOTER
//- -----------------------------------------------------------------|
//- Contains all HTML for the footer component.

//- -----------------------------------------------------------------|
include /mixins/_mixins
+devHead('footer')
//- -----------------------------------------------------------------|

footer.footer(role='contentinfo')


//- -----------------------------------------------------------------|
+devFoot('footer')
//- -----------------------------------------------------------------|
