// -----------------------------------------------------------------|
//	BUTTON MODULES
// -----------------------------------------------------------------|
// All overwrites & resets for common button elements.

.btn {
	cursor: pointer;

	// BTN-LOADING
	// ---------------------------------|
	&-loading {
		cursor: not-allowed;

		&:after {
			display: inline-block;
			line-height: 1;
			font-family: $type-icon;
			content: $fa-var-spinner;
			margin-left: $spacer / 2;
			@extend .fa-spin;
		}
	}

	// BTN-ICON
	// ---------------------------------|
	&-icon {
		border-radius: 100%;
		padding: 0;
		line-height: $spacer * 2;
		width: $spacer * 2;
		height: $spacer * 2;
		text-align: center;

		&:hover,
		&:focus {
			color: $color-white;
		}
	}

	// BTN-OUTLINE-*
	// ---------------------------------|
	&[class*='btn-outline-'] {
		border-width: $border-width;
	}

	// COLOUR MODIFIERS
	// ---------------------------------|
	// See config/vars/_colours.scss
	@mixin btnStyles($name, $colors) {
		&-#{$name} {
			color: $color-white;
			background: nth($colors, 1);

			&:hover,
			&:focus {
				background: nth($colors, 3);
			}

			&[disabled],
			&:disabled,
			&.btn-loading {
				background: nth($colors, 1);

				&:hover,
				&:focus {
					background: nth($colors, 1);
				}
			}
		}

		&-outline-#{$name} {
			color: nth($colors, 1);
			border-color: nth($colors, 1);
			background: transparent;

			&:hover,
			&:focus {
				color: $color-white;
				background: nth($colors, 1);
				border-color: nth($colors, 1);
			}

			&[disabled],
			&:disabled,
			&.btn-loading {
				&:hover,
				&:focus {
					color: nth($colors, 1);
					border-color: nth($colors, 1);
					background: transparent;
				}
			}
		}
	}

	// THEME
	@each $name, $colors in $themeMap {
		@include btnStyles($name, $colors);
	}

	// SOCIAL
	@each $name, $colors in $socialMap {
		@include btnStyles($name, $colors);
	}
}
