// -----------------------------------------------------------------|
//	FORM MODULES
// -----------------------------------------------------------------|
// All overwrites & resets for common form elements.

// -----------------------------------------------------------------|
// LABELS
// -----------------------------------------------------------------|
.form-group {
	label {
		position: relative;

		// REQUIRED *
		// ---------------------------------|
		.required {
			position: relative;
			top: -2px;
			display: inline-block;
			color: $color-danger;
		}
	}
}

// -----------------------------------------------------------------|
// INPUTS
// -----------------------------------------------------------------|
.form-group {

	@mixin focusStyles {
		color: $input-color-focus;
		background-color: $input-bg-focus;
		border-color: $input-border-focus;
		outline: none;
		$shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $input-box-shadow-focus;
		@include box-shadow($shadow);
	}

	// CUSTOM CHECKBOXES/RADIOS
	// -------------------------------------|
	input {
		&[type="checkbox"],
		&[type="radio"] {
			width: 0;
			height: 0;
			opacity: 0;
			z-index: -1;
			background: transparent;
			border: 0;

			// CHECKED STYLES
			&:checked {
				& ~ .checkbox-custom,
				& ~ .radio-custom {
					&:before {
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}

			// FOCUS STYLES
			&:focus {
				& ~ .checkbox-custom,
				& ~ .radio-custom {
					@include focusStyles;
				}
			}

			// DISABLED
			&[disabled],
			&:disabled {
				background: transparent;
				cursor: $cursor-disabled;

				& ~ .checkbox-custom,
				& ~ .radio-custom {
					background: $input-bg-disabled;
					border-color: $input-border-color;
					cursor: $cursor-disabled;
				}

				// DISABLED + CHECKED
				&:checked {
					cursor: $cursor-disabled;

					& ~ .checkbox-custom,
					& ~ .radio-custom {
						cursor: $cursor-disabled;
						background: $input-bg-disabled;
						border-color: $input-border-color;

						&:before {
							color: $input-color-placeholder;
						}
					}
				}
			}
		}
	}

	.checkbox,
	.radio {
		label {
			display: block;
			cursor: pointer;

			// TABLET
			@include media-breakpoint-up(sm) {
				display: inline-block;

				& + label {
					margin-left: $input-padding-x;
				}
			}
		}

		&-custom {
			display: inline-block;
			vertical-align: middle;
			width: $input-padding-x-lg;
			height: $input-padding-x-lg;
			background: $input-bg;
			border-color: $input-border-color;
			border: $input-btn-border-width solid $input-border-color;
			margin-right: $input-padding-x;
			overflow: hidden;
			position: relative;
			@include border-radius($input-border-radius);
			@include box-shadow($input-box-shadow);
			@include transition(border-color ease-in-out $speed, box-shadow ease-in-out $speed);

			&:before {
				position: absolute;
				top: 50%;
				left: -100%;
				transform: translate(0, -50%);
				transition: all $speed;
				width: $input-padding-x;
				height: $input-padding-x;
				content: '';
			}
		}
	}

	$color: str-slice(quote($color-alpha), 2);

	.checkbox {
		&-custom {
			&:before {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23#{$color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
			}
		}
	}

	.radio {
		&-custom {
			border-radius: 100%;

			&:before {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23#{$color}'/%3E%3C/svg%3E");;
			}
		}
	}

	// TEXTAREAS
	// -------------------------------------|
	textarea {
		&.form-control {
			min-height: 170px;
			height: auto;
		}
	}

	// CUSTOM SELECT,
	// CUSTOM FILE INPUT
	// -------------------------------------|
	.custom-select,
	.custom-file {
		width: 100%;
	}

	.custom-file-input {
		&:focus {
			& + .custom-file-control {
				transition: border-color $speed;
				@include focusStyles;
			}
		}
	}
}

// -----------------------------------------------------------------|
// ERROR + FEEDBACK MESSAGES
// -----------------------------------------------------------------|
.form-group {
	.form-control-feedback {
		display: none;
	}

	&[class*='has-'] {
		.form-control-feedback {
			display: block;
			@include fadeIn(1, $speed * 2);
		}

		.form-control {
			padding-right: ($input-padding-x * 3);
			background-repeat: no-repeat;
			background-position: center right ($input-height / 4);
			background-size: ($input-height / 2) ($input-height / 2);
		}
	}

	// HAS-DANGER
	// -------------------------------------|
	&.has-danger {
		label {
			color: $color-danger;
		}

		.form-control {
			@include bounce(1, $speed * 2);
			background-image: $form-icon-danger;
		}

		.radio,
		.checkbox {
			label {
				color: $input-color;
			}

			&-custom {
				border-color: $color-danger;
				@include bounce(1, $speed * 2);
			}
		}
	}

	// HAS-SUCCESS
	// -------------------------------------|
	&.has-success {
		.form-control {
			background-image: $form-icon-success;
		}
	}

	// HAS-WARNING
	// -------------------------------------|
	&.has-warning {
		.form-control {
			background-image: $form-icon-warning;
		}
	}
}

// -----------------------------------------------------------------|
// ADDITIONAL STYLING
// -----------------------------------------------------------------|

// IOS RESETS
// ---------------------------------|
// input:not([type='checkbox']),
// input:not([type='radio']),
// select,
// textarea {
// 	-webkit-appearance: none;
// 	-moz-appearance: none;
// 	box-shadow: none !important;
// }

// SELECT ARROWS
// ---------------------------------|
// select.form-control {
// 	background-image: url('../images/select-arrow.png');
// 	background-repeat: no-repeat;
// 	background-position: calc(100% - 15px) 50%;

// 	&::-ms-expand {
// 		display: none;
// 	}

// 	option {
// 		&[disabled] {
// 			color: $input-color-placeholder;
// 		}
// 	}
// }

// ERROR
// .form-group.has-error select.form-control {
// 	background-image: url('../images/select-arrow-error.png');
// 	background-repeat: no-repeat;
// 	background-position: calc(100% - 15px) 50%;

// 	&::-ms-expand {
// 		display: none;
// 	}
// }
