// -----------------------------------------------------------------|
//	TYPOGRAPHY MODULES
// -----------------------------------------------------------------|
// All overwrites & resets for common typographic elements.

// -----------------------------------------------------------------|
// ROOTS
// -----------------------------------------------------------------|
html {
	font-size: $type-small;

	// DESKTOP
	@include media-breakpoint-up(md) {
		font-size: $font-size-root;
	}
}

::selection {
	background: $color-alpha;
	color: $color-white;
}

::-moz-selection {
	background: $color-alpha;
	color: $color-white;
}

// -----------------------------------------------------------------|
// LINKS
// -----------------------------------------------------------------|
a {
	@include transition(color $speed);
}
