// -----------------------------------------------------------------|
//	UTILITY MODULE & CLASSES
// -----------------------------------------------------------------|
// Common utility classes used for modifier spacing, color, width, etc.

// UTILITY FONT COLOUR + BKG
// ---------------------------------|
// See config/vars/_colours.scss
@each $name, $color in $themeMap {
	.u-color-#{$name} {
		color: nth($color, 1) !important;
	}

	.u-bkg-#{$name} {
		background: nth($color, 1) !important;
	}
}

@each $name, $color in $statusMap {
	.u-color-#{$name} {
		color: $color !important;
	}

	.u-bkg-#{$name} {
		background: $color !important;
	}
}

@each $name, $color in $colorMap {
	.u-color-#{$name} {
		color: $color !important;
	}

	.u-bkg-#{$name} {
		background: $color !important;
	}
}
