//- -----------------------------------------------------------------|
//- FOOT
//- -----------------------------------------------------------------|
//- Contains all HTML and blocks for the foot include.
//- This includes all dependency scripts, our app script, and Google Analytics.

script(src='js/bundle.js')

script.
	ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
	ga('create','#{locals.site.analytics}','auto');ga('send','pageview')
script(src='https://www.google-analytics.com/analytics.js' async defer)
