//- -----------------------------------------------------------------|
//- HEAD
//- -----------------------------------------------------------------|
//- Contains all HTML and blocks for the head include.
//- This includes the page title, meta tags, our main stylesheet.

meta(charset='utf-8')
meta(http-equiv='x-ua-compatible' content='ie=edge')
if locals.site.responsive
	meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(name='theme-color' content= locals.site.theme)
link(rel='apple-touch-icon' href='apple-touch-icon.png')
link(href='css/app.css' rel='stylesheet')
