//- -----------------------------------------------------------------|
//- INDEX
//- -----------------------------------------------------------------|
//- Contains all blocks/variables & HTML for the index page

extends /layouts/_default

//- --------------------------------------|
//- PAGE SPECIFIC VARIABLES
//- --------------------------------------|
block variables
	-
		//- PAGE OPTIONS
		//- -------------------------|
		var pageHdr = true
		var pageFtr = true
		// var pageLang = 'en'

		//- PAGE META
		//- -------------------------|
		var pageName = 'index'
		var pageTitle = 'PageTitle | ' + siteName
		var pageDesc = 'PageDescription'
		var pageUrl = siteUrl + '/' + pageName + '.html'
		var ogTitle = pageTitle
		var ogDesc = pageDesc
		// var pageImage = siteUrl + '/images/share/' + pageName + '.jpg'

		//- BODY SPECIFIC
		//- -------------------------|
		var bodyAttrs = {
			// 'class' : 'page-' + pageName,
			// 'data-example' : 'example'
		}

//- -----------------------------------------------------------------|
//- CONTENT
//- -----------------------------------------------------------------|
block content
	main#content(role='main')
		.container
			.row
				.col-sm-12.u-marginTop-5

					#root

					form#needs-validation.container(novalidate='')
						.row
							.col-md-6.mb-3
								label(for='validationCustom01') First name
								input#validationCustom01.form-control(type='text', placeholder='First name', value='Mark', required='')
							.col-md-6.mb-3
								label(for='validationCustom02') Last name
								input#validationCustom02.form-control(type='text', placeholder='Last name', value='Otto', required='')
						.row
							.col-md-6.mb-3
								label(for='validationCustom03') City
								input#validationCustom03.form-control(type='text', placeholder='City', required='')
								.invalid-feedback
									| Please provide a valid city.
							.col-md-3.mb-3
								label(for='validationCustom04') State
								input#validationCustom04.form-control(type='text', placeholder='State', required='')
								.invalid-feedback
									| Please provide a valid state.
							.col-md-3.mb-3
								label(for='validationCustom05') Zip
								input#validationCustom05.form-control(type='text', placeholder='Zip', required='')
								.invalid-feedback
									| Please provide a valid zip.
						.row
							.col
								label.custom-control.custom-checkbox
									input.custom-control-input(type='checkbox', required='')
									span.custom-control-indicator
									span.custom-control-description Check this custom checkbox
								.custom-controls-stacked.d-block.my-3
									label.custom-control.custom-radio
										input#radioStacked1.custom-control-input(name='radio-stacked', type='radio', required='')
										span.custom-control-indicator
										span.custom-control-description Toggle this custom radio
									label.custom-control.custom-radio
										input#radioStacked2.custom-control-input(name='radio-stacked', type='radio', required='')
										span.custom-control-indicator
										span.custom-control-description Or toggle this other custom radio
								select.custom-select.d-block.my-3(required='')
									option(value='') Open this select menu
									option(value='1') One
									option(value='2') Two
									option(value='3') Three
								label.custom-file
									input#file.custom-file-input(type='file', required='')
									span.custom-file-control
						br
						button.btn.btn-primary(type='submit') Submit form
						hr.mt-5.mb-5
						h6 Button Styles
						button.btn.btn-alpha.btn-loading(type='button') Loading
						button.btn.btn-outline-alpha.btn-outline(type='button') Loading
						button.btn.btn-icon.btn-primary(type='button')
							i.fa.fa-star

					script.
						// Example starter JavaScript for disabling form submissions if there are invalid fields
						(function() {
						"use strict";
						window.addEventListener("load", function() {
						var form = document.getElementById("needs-validation");
						form.addEventListener("submit", function(event) {
						if (form.checkValidity() == false) {
						event.preventDefault();
						event.stopPropagation();
						}
						form.classList.add("was-validated");
						}, false);
						}, false);
						}());


					//- include /components/_test


//- --------------------------------------|
//- HEAD - PAGE SPECIFIC <HEAD>
//- --------------------------------------|
block head
	//- Usually not needed.

//- --------------------------------------|
//- HEAD - PAGE SPECIFIC HEADER
//- --------------------------------------|
block header
	//- Usually not needed.

//- --------------------------------------|
//- FOOTER - PAGE SPECIFIC FOOTER
//- --------------------------------------|
block footer
	//- Usually not needed.

//- --------------------------------------|
//- FOOTER - PAGE SPECIFIC FOOT (JS)
//- --------------------------------------|
block foot
	//- Usually not needed.
